<div class="container-fluid">



  <div id="navbarSupportedContent">
    <button class="btn btn-outline-success" data-bs-toggle="modal" data-bs-target="#addCompanyEntity" (click)="adddCompanyEntity()">Add Company Entity</button>
  </div>

  <table class="table table-hover">
      <thead>
        <tr>
          <th>Name</th>
          <th>company</th>
          <th>Actions</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let companyEntity of companyEntities">
          <td>{{companyEntity.name}}</td>
          <td>{{companyEntity.company.name}}</td>
          <td>
              <button type="button" class="btn btn-outline-primary me-2" data-bs-toggle="modal" data-bs-target="#editCompanyEntity" (click)="editCompanyEntity(companyEntity)">Edit</button>
              <button type="button" class="btn btn-outline-danger" (click)="delete(companyEntity)">Delete</button>
          </td>

        </tr>
        
      </tbody>
    </table>


<!-- Add companyEntity modal -->
<div class="modal fade" id="addCompanyEntity" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Add new Company Entity</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        
          <form [formGroup]="companyEntityDetail">
             <div class="mb-3">
                  <label for="exampleInputEmail1" class="form-label">Name </label>
                  <input type="text" formControlName="name" class="form-control" id="name" aria-describedby="emailHelp">
             </div>

             <div class="mb-3">
                <label  aria-describedby="emailHelp" class="form-label">Select Company</label>
                <select id="exampleFormControlSelect1" formControlName="company_id" id="company_id" class="form-select">
                  <option selected disabled>Select Company</option>
                  <option *ngFor="let company of companies" [ngValue]="company.id">{{company.name}}</option>
                </select>
             </div>

             <div class="modal-footer">
                  <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                  <button type="button" class="btn btn-primary" data-bs-dismiss="modal" (click)="addCompanyEntity()">Add company Entity</button>
             </div>
          </form>

      </div>
      
    </div>
  </div>
</div>


<!-- Edit companyEntity modal -->
<div class="modal fade" id="editCompanyEntity" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Edit company Entity details</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">

          <form [formGroup]="companyEntityDetail">
              <div class="mb-3">
                  <label for="exampleInputEmail1" class="form-label">Name </label>
                  <input type="text" formControlName="name" class="form-control" id="name" aria-describedby="emailHelp">
                </div>

                <div class="mb-3">
                  <label  aria-describedby="emailHelp" class="form-label">Select Company</label>
                  <select id="exampleFormControlSelect1" formControlName="company_id" id="company_id" class="form-select">
                    <option selected disabled>Select Company</option>
                    <option *ngFor="let company of companies" [ngValue]="company.id">{{company.name}}</option>
                  </select>
               </div>

              <div class="modal-footer">
                  <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                  <button type="button" class="btn btn-outline-success" (click)="updateCompanyEntity()" data-bs-dismiss="modal">Update </button>
                </div>
            </form>

      </div>
    </div>
  </div>
</div>

</div> 

