<div class="container-fluid">



  <div id="navbarSupportedContent">
    <button class="btn btn-outline-success" data-bs-toggle="modal" data-bs-target="#addEmployee" (click)="adddEmployee()">Add Employee</button>
  </div>

  <table class="table table-hover">
      <thead>
        <tr>
          <th>Name</th>
          <th>team</th>
          <th>Actions</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let employee of employees">
          <td>{{employee.name}}</td>
          <td>{{employee.team.name}}</td>
          <td>
              <button type="button" class="btn btn-outline-primary me-2" data-bs-toggle="modal" data-bs-target="#editEmployee" (click)="editEmployee(employee)">Edit</button>
              <button type="button" class="btn btn-outline-danger" (click)="delete(employee)">Delete</button>
          </td>

        </tr>
        
      </tbody>
    </table>


<!-- Add Employee modal -->
<div class="modal fade" id="addEmployee" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Add new Employee</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        
          <form [formGroup]="employeeDetail">
             <div class="mb-3">
                  <label for="exampleInputEmail1" class="form-label">Name </label>
                  <input type="text" formControlName="name" class="form-control" id="name" aria-describedby="emailHelp">
             </div>

             <div class="mb-3">
                <label  aria-describedby="emailHelp" class="form-label">Select Team</label>
                <select id="exampleFormControlSelect1" formControlName="team_id" id="team_id" class="form-select">
                  <option selected disabled>Select Team</option>
                  <option *ngFor="let team of teams" [ngValue]="team.id">{{team.name}}</option>
                </select>
             </div>

             <div class="modal-footer">
                  <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                  <button type="button" class="btn btn-primary" data-bs-dismiss="modal" (click)="addEmployee()">Add Employee</button>
             </div>
          </form>

      </div>
      
    </div>
  </div>
</div>


<!-- Edit Employee modal -->
<div class="modal fade" id="editEmployee" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Edit employee details</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">

          <form [formGroup]="employeeDetail">
              <div class="mb-3">
                  <label for="exampleInputEmail1" class="form-label">Name </label>
                  <input type="text" formControlName="name" class="form-control" id="name" aria-describedby="emailHelp">
                </div>

                <div class="mb-3">
                  <label  aria-describedby="emailHelp" class="form-label">Select Team</label>
                  <select id="exampleFormControlSelect1" formControlName="team_id" id="team_id" class="form-select">
                    <option selected disabled>Select Employee</option>
                    <option *ngFor="let team of teams" [ngValue]="team.id">{{team.name}}</option>
                  </select>
               </div>

              <div class="modal-footer">
                  <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                  <button type="button" class="btn btn-outline-success" (click)="updateEmployee()" data-bs-dismiss="modal">Update </button>
                </div>
            </form>

      </div>
    </div>
  </div>
</div>

</div> 

